<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- {% import "bootstrap/wtf.html" as wtf %} -->
<body class="w3-black">
<style>
  h1 {text-align: center;}
  p {text-align: center;}
  div {text-align: center;}
  img {
        width: 100%;
        height: 100%;
        max-width: 400px;
      }
</style>


<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo">{{title}}</h1>
    <hr/>
  </header>

  <h3>There are currently: </h3>
  <h1 style="color: aqua;">{{total_messages}}</h1>
  <h4>total messages</h4>

  <hr/>
  <button id='best_image_btn' class="w3-button w3-light-grey w3-padding-large w3-section">
    Best Image
  </button>
  <div id="best_image" style="display: none">
    <h3>The most recent image with the coveted 8 likes:</h3>
    <img src={{url}}>
    <h4>Which was posted by:</h4>
    <div>
      <h4>{{user_best_image}}</h4>
      <img src={{user_best_image_url}} style="border-radius: 50%; width: 100px">
    </div>
  </div>

  <hr/>
  <button id="most_popular_btn" class="w3-button w3-light-grey w3-padding-large w3-section">
    Most Popular
  </button>
  <div id="most_popular" style="display: none">
    <h4>Who's had the most likes?</h4>
    <img src={{most_popular_image}} alt="popular plot">
  </div>

  <hr/>
  <h4>Generate a random meme from our backlog</h4>
  <form method="POST" action="">
    <!-- <p><input class="w3-input w3-padding-16" type="text" placeholder="4" required name="MinFavs"></p> -->
    Minimum likes  {{ form.likes() }}
    <p>
      <button id="rand_meme_btn" class="w3-button w3-light-grey w3-padding-large" type="submit">
        <i class="fa fa-file-image-o"></i> Generate Meme
      </button>
    </p>
  </form>
  <div id="rand_image" style="">
    <h3>Here ya go, loser: </h3>
    <img src={{rand_url}}>
    <h4>Which was posted by:</h4>
    <div>
      <h4>{{user_rand_image}}</h4>
      <img src={{user_rand_image_url}} style="border-radius: 50%; width: 100px">
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
 $("#best_image_btn").click(function(){
    $("#best_image").slideToggle(500);
 });
  $("#most_popular_btn").click(function(){
    $("#most_popular").slideToggle(500);
  })
});
</script>